@import 'reset';

@import 'gentium';

@import 'variables';
@import 'mixins';

@import 'top-level-layout';

@import 'navbar';

@import 'jumbotron';
@import 'calls-to-action';
@import 'marketing-button';

@import 'feature-showcase';
@import 'spotlight';

@import 'from-markdown';

@import 'footer-sitewide';

html {
    color: var(--color-jet);
    background: var(--color-silver-pale);

    font: var(--font-size-base) / var(--line-height-base) Gentium, serif;
}
