@mobile:            ~"(max-width: 500px)";
@wider-than-mobile: ~"(min-width: 500.02px)";

// With viewports wider than this width, we just let the browser fill up with empty space on the sides.
@maximum-defined-width: 100ch;
@teeny-bit-wider-than-maximum-defined-width: @maximum-defined-width + .02ch;
@wider-than-maximum:    ~"(min-width: @{teeny-bit-wider-than-maximum-defined-width})";
@narrower-than-maximum: ~"(max-width: @{maximum-defined-width})";

:root {
    // from https://coolors.co/be7c4d-92140c-353238-be5a38-c1b4ae
    --color-copper: hsla(25%, 59%, 75%, 1);
    --color-red-dark: hsla(4%, 92%, 57%, 1);
    --color-jet: hsla(270%, 11%, 22%, 1);
    --color-chest-cedar: hsla(15%, 71%, 75%, 1);
    --color-cedar-chest: hsla(15%, 71%, 75%, 1); // Trying both noun-adjective and adjective-noun
    --color-silver-pale: hsla(19%, 10%, 76%, 1);
}

:root {
    --font-size-base: 1em;
    @media @wider-than-mobile {
        --font-size-base: 1.1em;
    }
}

:root {
    --line-height-base: 1.3;
}
